:root {
  scroll-behavior: smooth;
}

* {
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary-color;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

input {
  border: 1px solid $lighter-gray-color;
  border-radius: 16px;
  background-color: transparent;
  color: $dark-color;
  padding: 12px 20px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.main-button {
  background-color: $primary-color;
  border-radius: 16px;
  padding: 8px 32px;
  transition: all 0.3s ease-in-out;
  border: none;
  color: $white-color;
  font-weight: bold;
  text-align: center;

  &:hover {
    background-color: rgba($primary-color, $alpha: 0.8);
  }
}

.section-title {
  .sub-title {
    color: $rose-color;
    font-weight: 500;
    font-size: 20px;

    @include responsive(max, 575px) {
      font-size: 16px;
    }

    @include responsive(max, 991px) {
      font-size: 14px;
    }
  }

  .main-title {
    color: $dark-color;
    font-size: 64px;

    @include responsive(max, 575px) {
      font-size: 32px;
    }

    @include responsive(max, 991px) {
      font-size: 32px;
    }
  }
}
