html,
body {
  scroll-behavior: smooth;
}

p {
  font-family: $secondary-font;
  margin-bottom: 0;
}

a {
  transition: $transition-sm;
  text-decoration: none;
  color: $primary-color;
}

i,
svg {
  color: inherit;
}

.form-control:focus,
.btn:focus {
  box-shadow: none;
}

hr.divider {
  border-top: 1px solid $primary-color !important;
}

section {
  overflow: hidden;
  padding: 64px 0;
  margin: 64px 0;

  @include responsive(max, 575px) {
    padding: 32px 0;
    margin: 32px 0;
  }

  @include responsive(max, 991px) {
    padding: 24px 0;
    margin: 24px 0;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: $secondary-font;
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

textarea:focus,
input:not([type="radio"]):focus {
  border-color: $primary-color;
  outline: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: 0;
  color: $dark-color;
}

button {
  cursor: pointer;
}
