@font-face {
  font-family: "Tajawal";
  src: url("./fonts/ar/Tajawal-Light.woff2") format("woff2"), url("./fonts/ar/Tajawal-Light.woff") format("woff"), url("./fonts/ar/Tajawal-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Tajawal";
  src: url("./fonts/ar/Tajawal-Regular.woff2") format("woff2"), url("./fonts/ar/Tajawal-Regular.woff") format("woff"), url("./fonts/ar/Tajawal-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Tajawal";
  src: url("./fonts/ar/Tajawal-Medium.woff2") format("woff2"), url("./fonts/ar/Tajawal-Medium.woff") format("woff"), url("./fonts/ar/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Tajawal";
  src: url("./fonts/ar/Tajawal-Bold.woff2") format("woff2"), url("./fonts/ar/Tajawal-Bold.woff") format("woff"), url("./fonts/ar/Tajawal-Bold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Tajawal";
  src: url("./fonts/ar/Tajawal-Black.woff2") format("woff2"), url("./fonts/ar/Tajawal-Black.woff") format("woff"), url("./fonts/ar/Tajawal-Black.ttf") format("truetype");
  font-weight: 900;
}
