@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900&family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;700&family=Sora:wght@400;600;700;800&family=Tajawal:wght@400;500;700;800;900&display=swap");

// Primary Font in English
@font-face {
  font-family: "DM-Sans";
  src: url("../fonts/en/DMSans.ttf") format("truetype");
  font-weight: 300 400 500 700 900;
}

