// colors
$primary-color: #5956E9;
$secondary-color: #1677ae;
$white-color: #fff;
$black-color: #000000;
$border-color: #ddd;
$lighter-gray-color: #ECF2F6;
$dark-color: #27272E;
$rose-color: #C75C6F;
$boxShadow-color: rgba(0, 0, 0, .1);

// var transition
$transition-sm: all .3s;
$transition-md: all .5s;
$transition-lg: all .7s;
// var borderRadius
$borderRadius-sm: 4px;
$borderRadius-md: 16px;
$borderRadius-lg: 24px;
$linearGradient: linear-gradient(to right, $primary-color, $secondary-color 60%);