// colors
$primary-color: #5956e9;
$secondary-color: #1677ae;
$white-color: #fff;
$black-color: #000000;
$border-color: #ddd;
$gray-color: #999ab8;
$lighter-gray-color: #ecf2f6;
$dark-color: #27272e;
$rose-color: #c75c6f;
$boxShadow-color: rgba(0, 0, 0, 0.1);

// var transition
$transition-sm: all 0.3s;
$transition-md: all 0.5s;
$transition-lg: all 0.7s;

// var borderRadius
$borderRadius-sm: 4px;
$borderRadius-md: 16px;
$borderRadius-lg: 24px;
$linearGradient: linear-gradient(
  to right,
  $primary-color,
  $secondary-color 60%
);
