// colors
$primary-color:#47a547;
$secondary-color: #1677ae;
$white-color:#fff;
$black-color:#0e1020;
$border-color:#ddd;
$boxShadow-color:rgba(0, 0, 0, .1);

// var transition
$transition-sm: all .3s;
$transition-md: all .5s;
$transition-lg: all .7s;
// var borderRadius
$borderRadius-sm: 4px;
$borderRadius-md: 16px;
$borderRadius-lg: 24px;
$linearGradient: linear-gradient(to right, $primary-color, $secondary-color 60%);