.about-us {
  background-color: $lighter-gray-color;
  position: relative;

  &__bubble,
  &__line {
    position: absolute;
    inset-inline-start: 0;
  }

  &__bubble {
    top: 0;
    height: 320px;
  }

  &__line {
    top: 64px;
  }

  &__form {
    background-color: white;
    border-radius: 32px;

    &__field {
      p {
        font-weight: 500;
        color: $dark-color;
        border: none;
        border-bottom: 1px solid transparent;
        transition: all 0.3s ease-in-out;
        padding: 0;

        &.active,
        &:hover,
        &:focus {
          color: #27272e;
          border-bottom-color: $primary-color;
        }
      }
    }
  }
}

.projects {
  .tab-content {
    .project-item {
      margin: 0 32px;
      border-radius: 30px;
      overflow: hidden;
      box-shadow: 0 55px 86px -35px #ecf2f6;

      // tabs
      .nav-tabs {
        border-bottom: none;

        .nav-link {
          color: #525260;
          font-size: 20px;
          font-weight: 500;
          border: none;
          border-bottom: 1px solid transparent;
          transition: all 0.3s ease-in-out;
          padding: 0;

          &.active,
          &:hover,
          &:focus {
            color: $dark-color;
            border-bottom-color: $primary-color;
          }
        }
      }

      .tab-content {
        .project-item {
          margin: 0 32px;
          border-radius: 30px;
          overflow: hidden;
          box-shadow: 0 55px 86px -35px $lighter-gray-color;

          .image {
            height: 380px;
            overflow: hidden;

            img {
              transition: all 0.6s ease-in-out;
              height: 100%;
              width: 100%;
            }
          }

          &__info {
            padding: 32px;

            h4 {
              font-size: 32px;
              color: #292930;
              transition: color 0.3s ease-in-out;

              &:hover {
                color: $primary-color;
              }
            }

            p {
              font-size: 16px;
              color: #525260;
            }
          }

          &:hover {
            .image {
              img {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
    img {
      transition: all 0.6s ease-in-out;
      height: 100%;
      width: 100%;
    }
  }

  &__info {
    padding: 32px;

    h4 {
      font-size: 32px;
      color: #292930;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $primary-color;
      }
    }

    p {
      font-size: 16px;
      color: #525260;
    }
  }

  &:hover {
    .image {
      img {
        transform: scale(1.1);
      }
    }
  }
}
// Start Services

.services {
  padding-block: 120px;
  background-color: $dark-color;
  position: relative;
  &__wrapper {
    position: relative;
    z-index: 1;
  }
  &__header {
    margin-block-end: 60px;
    position: relative;
    z-index: 1;
  }
  &__subtitle {
    color: $rose-color;
    font-weight: 500;
    font-size: 20px;
    margin-block-end: 16px;
  }

  &__title {
    color: $white-color;
    font-weight: 500;
    font-size: 56px;
    margin-block-end: 35px;
  }
  &__description {
    color: $white-color;
    opacity: 0.6;
    font-size: 18px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 24px;
  }
  &__card {
    display: flex;
    gap: 24px;
    padding: 40px;
    border-radius: 30px;
    position: relative;
    border: 1px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out, background-image 0.3s ease-in;
    &:hover {
      background-image: linear-gradient(180deg, #27272e 0%, #303035 100%);
      border-color: rgb(82, 82, 96);
    }
    &-img {
      flex-shrink: 0;
      width: 60px;
    }
    &-title {
      color: $white-color;
      font-size: 24px;
      margin-block-end: 32px;
    }
    &-description {
      color: $lighter-gray-color;
      font-size: 16px;
      margin-block-end: 32px;
    }
  }
  &__bubbles {
    position: absolute;
    inset: 0;
    &-line {
      position: absolute;
      top: 120px;
      inset-inline-end: 0;
    }
    &-curve {
      position: absolute;
      bottom: 120px;
      inset-inline-start: 0;
    }
  }
}
// End Services
