section#hero.hero
    .container 
    .hero__content
        h1.hero__title
        | Build beautiful 
        span website&
        br
        | mobile apps.
        p.hero__text Create live segments and target the right people for messages based on their behaviors.
