.breadcrumb {
  border-bottom: 1px solid $border-color2;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  font-family: 'Palanquin', sans-serif;

  @include responsive(max, 768px) {
    margin-bottom: 1rem;
    padding: 0;
  }

  &-item {
    font-size: 1rem;
    font-weight: bolder;

    &.active {
      color: #000;
      font-weight: bold;

      &::before {
        color: #000;
      }
    }
  }
}