.footer {
  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 5rem;

    &__item {
      font-size: 30px;
      color: $gray-color;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__info {
    padding-inline-end: 5rem;
    border-inline-end: 2px solid $lighter-gray-color;
    margin-inline-end: 2.5rem;
    margin-block-end: 5rem;

    @include responsive(max, 1200px) {
      padding-inline-end: unset;
      border-inline-end: unset;
      margin-inline-end: unset;
      margin-block-end: 3rem;
    }
  }

  &__title {
    font-size: 4rem;
    color: $dark-color;
    margin-block-end: 1rem;
    font-weight: 500;
  }

  &__description {
    font-size: 1rem;
    color: $dark-color;
    margin-block-end: 2.5rem;
  }

  &__newsletter {
    background-color: $white-color;
    border-radius: 20px;
    height: 72px;
    padding: 10px;
    padding-inline-start: 55px;
    box-shadow: 0 24px 48px -15px rgba(153, 161, 170, 0.25);
    display: flex;
    align-items: stretch;
    width: 100%;
    position: relative;

    &:before {
      content: url(../images/icons/message.webp);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      inset-inline-start: 30px;
      z-index: 1;
    }

    input {
      border: 0;
      border-radius: 0;
      color: #27272e;
      padding: 5px 15px;
      width: 100%;
    }
  }

  &__widget {
    margin-bottom: 3rem;

    &__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }

    ul {
      li {
        a {
          display: inline-block;
          color: $gray-color;
          padding-block: 8px;
          font-size: 18px;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  &__copyright {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid $gray-color;

    @include responsive(max, 768px) {
      justify-content: center;
    }

    &__description {
      color: $gray-color;
      margin: 0;

      a {
        color: inherit;

        &:hover {
          color: $primary-color;
        }
      }
    }

    ul {
      li {
        display: inline-block;
        position: relative;
        padding-inline: 20px;

        &:not(:last-child)::after {
          content: "";
          height: 4px;
          width: 4px;
          background-color: $gray-color;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          inset-inline-end: -5px;
          transform: translateY(-50%);
        }

        a {
          font-size: 1rem;
          color: $gray-color;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}
