
//- to use the linkHandler method it's take (your html file name without .html extension) as first argument and take (lang variable is refired to {rtl or ltr} as second argument)
//- example
//- linkHandler('contact-us',lang)

//- to use imgPath method it's take path img without extension like [.png , .jpg] and main file of images only insert a sub files on it  
//- default extension for all images is webp 
//- example
//- imgPath('logo/logo')

//- user the next component to switch language
// switch language start

//- a.language-toggle(href=linkHandler(currentPage ,mainLang))
//-   - if (mainLang === 'en')
//-     | EN 
//-   - else 
//-     | AR