$s: left;
$e: right;

$p: -1;
$n: 1;

// Fonts
$primary-font: "Sora", sans-serif;
$secondary-font: "Inter", sans-serif;
$mono-font: "JetBrains Mono", monospace;

body {
  direction: ltr;
  font-family: $secondary-font;
}


